.Header_div {
  display: flex;
  justify-content: flex-end;
}
.h1_tag,
span,
h4 {
  color: #7575a3;
}
.middle_div {
  height: 20vh;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin: 0px 60px 20px 60px;
}
.Search_div {
  display: flex;
  width: 400px;
  justify-content: center;
}
.btn {
  background-color: #000099;
}
.btn:hover {
  background-color: #000099;
}
.customer_btn {
  margin-right: 150px;
}
.data_div {
  background-color: white;
  border-radius: 5px;
}
.name {
  color: #3333ff;
}
@media only screen and (max-width: 600px) {
  .middle_div {
    height: 25vh;
    background-color: white;
    align-items: center;
    border-radius: 5px;
    width: 320px;
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 20px;
  }
  .h1_tag {
    align-self: flex-start;
    margin-top: 10px;
  }
  .Search_div {
    width: 340px;
    align-self: flex-end;
  }
  .input_field {
    height: 40px;
    margin-left: 30px;
  }
  .search_btn {
    height: 40px;
    width: 90px;
    margin-right: 25px;
  }
  .customer_btn {
    height: 40px;
    width: 179px;
    position: realtive;
    left: 40%;
    margin-bottom: 10px;
  }
}
